
  /* Navbar css */
nav {
  height: 80px;
  display: flex;
  /* background-color: blue; */
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.5);
  align-items: center;
}

h3 {
  margin-right: auto;
  padding: 0 20px;
  justify-content: space-between;
}

#nav-img {
  height: 70px;
  /* width: 50px; */
  margin-right: auto;
}

h3 {
  margin: 0 7px;
}

#hero-img1 {
width: 70%;
/* align-items: center; */
display: flex;
/* justify-content: center; */
margin: 30px auto;
}

   /*  Footer css */
 
#contact-menu {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
  color: white;
}

.contact-no {
  display: flex;
  margin: 10px;
}

#list1 {
margin: 20px auto;
text-align: center;
align-items: center;

}
#foot-terms {
  display: flex;
  justify-content: space-around;
}

#foot-globe {
  width: 20px;
}
#foot-no {
margin-top: 20px;
}

.foot-line {
  text-decoration: underline 3px;
}

.img-ceo {
  width: 50px;
}

.page3-div1 {
  display: flex;
  justify-content: space-between;
 
}

.img-kuntal {
  width: 300px;
  height: 300px;
  margin-bottom: 15px;
}

.page3-div0 {
  /* background-color: red; */
  margin: 30px;
}

.page3 {
  text-align: center;
}

#page3-h1 {
  text-align: center;
  margin-bottom: 30px;
}












 /* carousel container   */
 .carousel-container {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 20px 0;
  overflow-x: hidden;
  margin-top: 80px;
}
.carousel {
  display: flex;
  width: 92%;
  height: 100%;
  position: relative;
  margin: auto;
}

/*  

.slider {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.slider-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
/*


